<aside class="menu">
  <ul class="menu-list">
    <li>
      <a href="/">
        <span class="icon is-small">
          <i class="material-icons">home</i>
        </span>
        Home
      </a>
    </li>

    <li>
      <a href="/admin">
        <span class="icon is-small">
          <i class="material-icons">event_seat</i>
        </span>
        Admin
      </a>
    </li>
  </ul>

  <ul class="menu-list">
    <li>
      <a>
        <span class="icon is-small">
          <i class="material-icons">storage</i>
        </span>
        Models
      </a>
    </li>

    <li>
      <ul>
        <% for (let model of Object.keys(sails.models).sort()) {
          const link = `/admin/${model}`
          const active = req.path === link %>
        <li class="is-capitalized">
          <a class="<%= active ? 'is-active' : '' %>" href="<%= link %>"><%= model %></a>
        </li>
        <% } %>
      </ul>
    </li>
  </ul>

  <ul class="menu-list">
    <li>
      <a>
        <span class="icon is-small">
          <i class="material-icons">email</i>
        </span>
        Email templates
      </a>
    </li>

    <li>
      <ul>
        <% menuTemplates.forEach(template => {
          const link = `/admin/email-templates/${template}`
          const active = req.path === link %>
        <li class="is-capitalized">
          <a class="<%= active ? 'is-active' : '' %>" href="<%= link %>">
            <%= template.slice(5).replace(/-/g, ' ') %></a>
        </li>
        <% }) %>
      </ul>
    </li>
  </ul>

  <ul class="menu-list">
    <li>
      <a href="/admin/logs">
        <span class="icon is-small">
          <i class="material-icons">insert_drive_file</i>
        </span>
        Logs
      </a>
    </li>
  </ul>

  <%# <p class="menu-label">
    Administration
  </p>
  <ul class="menu-list">
    <li><a>Team Settings</a></li>
    <li>
      <a>Manage Your Team</a>
      <ul>
        <li><a>Members</a></li>
        <li><a>Plugins</a></li>
        <li><a>Add a member</a></li>
      </ul>
    </li>
    <li><a>Invitations</a></li>
    <li><a>Cloud Storage Environment Settings</a></li>
    <li><a>Authentication</a></li>
  </ul>

  <p class="menu-label">
    Transactions
  </p>
  <ul class="menu-list">
    <li><a>Payments</a></li>
    <li><a>Transfers</a></li>
    <li><a>Balance</a></li>
  </ul> %>
</aside>